/* .details-wrapper {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.big-screen img{
    max-width: 800px;
    height: auto;
    border: solid 2px #ff6600;
}

.img-slide {
    padding: 0.8em;
    border: solid 1px black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    column-gap: 2em;
}

.img-slide img {
    width: 150px;
    height: auto;
}

.img-slide img:hover {
    cursor: pointer;
    opacity: 0.7;
}

.details {
    padding: 20px 0;
    max-width: 500px;
}

.details h3, .details h4 {
    font-family: 'Roboto Flex';
    line-height: 1.7;
}

.details h3 {
    font-size: 32px;
    text-decoration: underline;
}
.details h4 {
    font-size: 24px;
    color: dimgray;
}
.details p {
    font-size: 18px;
} */


/* .swiper {
    width: 70%;
    height: 70%;
  } */


.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  width: 80%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
  border: 4px solid #ff6600;
}

.mySwiper2 {
  height: 700px;
  width: 70%;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 150px;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.details {
margin: 0 auto;
  padding: 20px 0;
  max-width: 500px;
}

.details h3, .details h4 {
  font-family: 'Roboto Flex';
  line-height: 1.7;
}

.details h3 {
  font-size: 32px;
  text-decoration: underline;
}
.details h4 {
  font-size: 24px;
  color: dimgray;
}
.details p {
  font-size: 18px;
}

.update-details {
  border-top: 2px solid #ff6600;
  margin-top: 20px;
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 2em;
}

.update-details button,
.update-details a {
  padding:0;
  margin: 0;
  width: 100px;
  height: 30px;
}

.update-details button:hover,
.update-details a:hover {
  opacity: 0.8;
}