.footer-wrapper {
    height: 20vh;
    background: #000;
}
.footer-wrapper p {
    color: #ff6600;
}
.footer-list{
    align-items: center;
}
.list-item {
    display: flex;
    align-content: center;
    justify-content: space-evenly;

    color: #ff6600
}