.footer-wrapper {
    height: 10vh;
    background: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer-wrapper p {
    color: #ff6600;
    font-weight: 600;
    font-size: 1.1rem;
}
.footer-wrapper p:last-child{
    margin-top: 0.5rem;
    font-size: 0.8rem;
    color: aliceblue;
    font-style: italic;
}
.footer-list{
    align-items: center;
}
