@import url('last-added.css');
@import url('footer.css');
@import url('search.css');
@import url('sell-car.css');
@import url('login.css');
@import url('reg-form.css');
@import url('details.css');
@import url('pagiantion.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&display=swap');

  /* UTILITIES */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Roboto Flex';
  }

  a {
    text-decoration: none;
  }

  li {
    list-style: none;
  }

  /* NAVBAR STYLING STARTS */
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    background-color: rgb(115, 114, 113);
    color: #fff;
  }

  .nav-links a {
    color: #fff;
  }

  /* LOGO */
  .logo img{
    width: 120px;
    height: auto;
  }

  /* NAVBAR MENU */
  .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
  }

  .menu li:hover {
    background-color: #ff6600;
    border-radius: 5px;
    transition: 0.3s ease;
    cursor: pointer;
  }

  .menu li {
    padding: 5px 14px;
  }

  .menu li:last-child{
    background: #000;
  }
  .menu li:last-child:hover{
    background: #ff6600;
  }

  /* DROPDOWN MENU */
  .services {
    position: relative;
  }

  .services:hover .dropdown {
    display: block;
  }

  .recently-added {
    height: 500px;
    background-color: rgb(182, 177, 171);
  }

  /* Paralax CSS */
  .parallax {
    background-image: url("/src/assets/images/6902643-beautiful-orange-car-wallpaper.jpg");
    min-height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


  /* Paralax text edit */
  .parallax p{
    background-color: white;
    color: black;
    font-size: 2vw; 
    font-weight: bold;
    margin: 0 auto;
    padding: 10px;
    width: 50%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    mix-blend-mode: screen;
  }
  /* end paralax section */
